@model List<ListaTelefonico.Models.Contato>

<div class="container">

    <a asp-action="ContatoCriar" class="btn btn-primary">Novo Contato</a>

     @if (Model.Any())
    {
        <table class="table table-bordered table-hover">
            <tr>

                <th>Id</th>
                <th>Apelido</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Empresa</th>
                <th>Data de Nascimento</th>
                <th>Visualizar</th>
                <th>Alterar</th>
                <th>Excluir</th>
            </tr>
            @foreach (var contato in Model)
            {
                <tr>
                    <td>@contato.Id</td>

                    <td>@contato.Apelido</td>

                    <td>@contato.Nome</td>

                    <td>@contato.Sobrenome</td>

                    <td>@contato.Empresa</td>

                    <td>@contato.DataNascimento</td>

                    <td style="text-align:center">
                        <a asp-action="ContatoVisualizar" style="color:green" asp-route-id="@contato.Id">
                            <i class="fa-solid fa-circle-info"></i>
                        </a></td>

                    <td style="text-align:center;">
                        <a asp-action="ContatoEditar" style="color:green" asp-route-id="@contato.Id">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                    <td style="text-align:center">
                        <a asp-action="ContatoExcluir" style="color:red" asp-route-id="@contato.Id">
                            <i class="fa-solid fa-circle-minus"></i>
                        </a></td>

                </tr>
            }
        </table>
    }
</div>